@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@layer base {
  html {
    @apply text-black;
    background-color: rgb(241, 241, 184);
  }
  body {
    @apply font-[Open-Sans];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  .button-1 {
    @apply bg-black text-white m-4 py-2 px-3 rounded-lg;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    hsla(240, 3%, 13%, 0.8)
  ) !important;
}
